http://:80 {
	@www host www.jobtastic.uk
	redir @www https://jobtastic.uk{uri} permanent

	handle /api/* {
		reverse_proxy backend:8080
	}
	handle /swagger-ui* {
		reverse_proxy backend:8080
	}
	handle /api-docs* {
		reverse_proxy backend:8080
	}
	handle /* {
		reverse_proxy frontend:80
	}
	encode gzip
}